.App {
  text-align: center;
}

header {
  height: 80px;
  width: 100%;
  background-color: black;
  position: fixed;
  top:0;
  color: aqua;
}

p {
  padding-top: 100px;
}

form {
  margin-top: 100px;
}

.login-header{
  height: 80px;
  width: 100%;
  background-color: black;
  position: fixed;
  top:0;
  color: aqua;
  
}

.nav-bar{
  height: 100vh;
  width: 200px;
  min-width: 200px;
  background-color: black;
  position: fixed;
  right: 0;
  top: 80px;
  transform: translate(300px, 0);
  transition: .5s;
  transition-timing-function: ease-out;
}

.show{
  transform: translate(0, 0);
}

.nav-bar ul{
  flex-direction: column;
  align-items: center;
  height: 300px;
  position: absolute;
  top: 30px;
}

#nav-btn{
  display: inline-block;
  background-color: black;
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
}

